<%- include("header") %>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Questrial&family=Quicksand:wght@300&family=Roboto:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Questrial&:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
</head>
  <body>
    <header>
      <%- include("nav") %>
    </header>
    <main>

      <div id="ModalChangeReason" class="modal">
        <div id="content-ChangeReason" class="modal-content">
          <span id="spanReason" class="close">&times;</span>
          <form id="changeReasonForm" action="#" method="post">
            <label for="reden">Change blacklist reason:</label><br>
          <textarea name="changeReason" id="reasonBlacklist" cols="30" rows="10" placeholder="your reason" required></textarea> <br>
            <input type="submit" value="change reason">
          </form>
        </div>
      </div>


      <h1 id="blacklistH2">Blacklisted Avatars <i class="bi bi-eye-slash-fill"></i></h1>
      <section id="blacklist-image-container">
        <% if (account.blacklist.length > 0) {%>
        <% for(let i=0; i < account.blacklist.length; i++) {%>
          <article class="blacklist-article">
            <img class="<%=account.blacklist[i].rarity%>" src="<%=account.blacklist[i].img%>">
                <div class="blacklist-image-caption">
                  <p>Name: <%=account.blacklist[i].naam%></p>
                  <p>Reason of blacklisting:</p>
                  <p>--------------</p> 
                  <p id="blacklistReason"><%=account.blacklist[i].reden%> </p>
                  <p>--------------</p> 
               
                  <p>Change reasoning: <ion-icon class="blacklistIcon change" name="repeat-outline"></ion-icon></p>
                 <p>Delete character: <a href="/blacklist/<%=account.blacklist[i].naam%>/delete" onclick="disableButtons()"><ion-icon class="blacklistIcon" name="trash-outline"></ion-icon></a></p>
                </div>
          </article>


        <%}%>
          <%} else {%>
            <h2 id="emptyList">Your favorite list is empty!</h2>
         <% }%>
        
      </section>
    </main>
    
    <footer>
      <p> 
          <a href="https://www.facebook.com/"><span>facebook <i class="fa-brands fa-square-facebook"></i></span></a>
          <a href="https://twitter.com/"><span>twitter <i class="fa-brands fa-twitter"></i></span></a>
          <a href="https://www.instagram.com/"><span>instagram <i class="fa-brands fa-instagram"></i> </span></a>
      </p>
     <p>  &copy; Terry Boateng | Bilal Zaroili | Abdimahad Gass | Nikola Maksimović | Ilias &nbsp; G_1PRO_D2 &nbsp; All Rights Reseverd</p>
        
  </body>
</html>
