  <%- include("header") %>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&family=Quicksand:wght@300&family=Roboto:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
  </head>
  <body id="favOverzichtBody">
  <header id="favOverzichtHeader">    
    <nav class="center">
      <a id="goBack" href="/favoriet"> 
        <button class="btn">go back
        <svg width="90px" height="60px" viewBox="-12 0 185 112" class="border">
          <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
          <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
        </svg>
      </button>
    </a>
    <%- include("loadavatar") %>
  </nav>
  </header>
    <main id="favOverzichtMain">
      <div id="modalNote" class="modal">
        <div id="content-Note" class="modal-content">
          <span class="close">&times;</span>
          
            <form id="addNoteForum" action="/favoriet-overzicht/addNote/<%=character.name%>" method="post">
              <label for="reden">Notes:</label> <br>
              <input type="text" name="notitie" id="notitie" placeholder="your note"> <br>
              <input type="submit" id="buttonAddNote" value="Add note"> <br>
              
            </form>
            <form id="deleteNoteForum" action="/favoriet-overzicht/deleteNote/<%=character.name%>" method="post">
              <input type="submit" value="Delete note">
              </form>
              <p style="color:red;" id="errorNote"></p>
         
          
        </div>
      </div>
      <h1>Overview character</h1>
      <figure id="fav-images">
        <img  class="fav-image <%= rarity%>" src="<%= character.images.icon %>" alt="">
        <% if (character.images.featured != null) {%>
        <img  class="fav-image <%= rarity%>" src="<%= character.images.featured %>" alt="">
        <%}%>
      </figure>
      
      <br>
        <h2>Name</h2>
        <p id="fav-name"><%=character.name%></p>
        <h2>Backstory</h2>
        <p id="fav-backstory" style="text-align: right;"><%=character.description%></p>
        <h2>Introduction</h2>
        <p><%=character.introduction.text%></p>
        <h2>Set</h2>
        <p><%=character.set.text%></p>
        <h2>Rarity</h2>
        <p><%=character.rarity.value%></p>
        <h2>Notes</h2>
        <p id="notitieText"> 
          <% if (notitie != undefined) {
            if ( notitie.length > 0) {%>
            <%=notitie%>
            <input type="hidden" id="emptyNote" value="notEmpty">

         <%} else { %>
          No notes written yet
          <input type="hidden" id="emptyNote" value="empty">
         <% } } else {%>

          No notes written yet
          <input type="hidden" id="emptyNote" value="empty">
        <% }%>
   
        </p>
        <button id="knopNotitie" class="btn">Edit notes</button>

        <div id="modalItem" class="modal">
          <div id="content-Item" class="modal-content">
            <span id="spanItem" class="close">&times;</span>
              <section id="itemList">
                <% for (let i = 0; i < items.length; i++) { %>
                  <article>
                    <img class="item" src="<%= items[i].images.smallIcon%>" alt="<%=items[i].name%>">
                  </article>
                  
                   <% } %>
                </section>
          </div>
        </div>

        <div id="items">
          <input type="hidden" id="activeItem" value="">
          <figure class="favItem">
              <h2>item 1</h2>
             <img id="item1" class="charItem" src="<%= item1 %>" alt="">
             <button class="deleteItem btn">Delete item</button>
          </figure>
          <figure class="favItem">
              <h2>item 2</h2>
              <img id="item2" class="charItem" src="<%=item2%>"  alt="">
              <button class="deleteItem btn">Delete item</button>
          </figure>
      </div>
        
        <h2>
            Overview wins & losses
        </h2>
        
      <section id="wlCounts">
          <article class="wl">
              
            <h3>Number of wins:</h3>
            <p id="aantalWins">0</p>
 
          
              <button class="knopKD btn">Add Victory</button>
     
       
          </article>

          <article class="wl">
            <h3>Number of losses:</h3>
            <p id="aantalLosses">0</p>
           <button class="knopKD btn">Add Loss</button>
          </article>

        </section>
            <br>
            <br>
            <br>  
        
    </main>
    
    <footer>

        <p> 
            <a href="https://www.facebook.com/"><span>facebook <i class="fa-brands fa-square-facebook"></i></span></a>
            <a href="https://twitter.com/"><span>twitter <i class="fa-brands fa-twitter"></i></span></a>
            <a href="https://www.instagram.com/"><span>instagram <i class="fa-brands fa-instagram"></i> </span></a>
        </p>
       <p>  &copy; Terry Boateng | Bilal Zaroili | Abdimahad Gass | Nikola Maksimović | Ilias &nbsp; G_1PRO_D2 &nbsp; All Rights Reseverd</p>
    </footer>
</body>

</html>