<%- include("header") %>
<body class="log">
    <input type="hidden" id="registratie" name="registratie" value="<%= registratie %>">
    <div id="modalLogin" class="modal">
        <div id="content-Login" class="modal-content content-green">
          <span class="close">&times;</span>
          <p id="modalTextLogin">Registratie gelukt</p>
        </div>
      </div>

      <input type="hidden" id="errorRegistratie" name="errorRegistratie" value="<%= error %>">
      <div id="modalUsername" class="modal">
          <div id="content-Username" class="modal-content content-red">
            <span class="close">&times;</span>
            <p id="modalTextUsername">Username bestaal al</p>
          </div>
        </div>

    
        <div class="wrapper">
        <div class="form-box login">
            <h1>Login</h1>
            <form id="loginForm" action="/login" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input type="text"  name="username" required>
                    <label for="username"><b>Username</b></label>
                </div>
                <div class="input-box">   
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password"  name="password" required>
                    <label for="password"><b>Password</b></label>
                </div>
                <div class="remember-me">
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="login-register">
                <p>Don't have an account ? <a href="#" class="register-link">Register</a></p>
                </div>
            </form>
        </div>


        <div class="form-box register">
            <h1 id="registrerH1">Registration</h1>
            
            <form action="/registrate" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="person"></ion-icon>
                        </span>
                        <input type="text" name="username" required>
                        <label for="username"><b>Username</b></label>
                    </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <input type="email"  required>
                    <label ><b>Email</b></label>
                </div>
                <div class="input-box">   
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password"  name="password" required>
                    <label for="password"><b>Password</b></label>
                </div>
                <div class="remember-me">
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> I agree to the terms & conditions
                    </label>
                </div>
                <button type="submit" class="btn">Register</button>
                <div class="login-register">
                <p>Already have an account? <a href="#"  class="login-link">Login</a></p>
                </div>
            </form>
        </div>

        
	</div>
</body>
</html>
