<%- include("header") %>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&family=Quicksand:wght@300&family=Roboto:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
  </head>
  <body>
    <header id="skinHeader">
      <input type="hidden" id="favChanged" name="favChanged" value="<%= favChanged %>">
      <div id="modalFav" class="modal">
        <div id="content-Fav" class="modal-content content-green">
          <span class="close">&times;</span>
          <p id="modalTextFav"><%=favText%></p>
        </div>
      </div>

        <nav class="center">
          <a id="goBack" href="/home"> 
            <button class="btn">go back
            <svg width="90px" height="60px" viewBox="-12 0 185 112" class="border">
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
          </button>
        </a>
        <%- include("loadavatar") %>
      </nav>
    </header>
    
    <main id="skinMain">
      <div id="ModalSkinBlackList" class="modal">
        <div id="content-SkinBlackList" class="modal-content">
          <span id="spanBlacklist" class="close">&times;</span>
          <form action="/skin/blacklist/<%=skinName%>" method="post">
            <label for="reden">Reason for blacklist:</label><br>
          <textarea name="reasonBlacklist" id="reasonBlacklist" cols="30" rows="10" placeholder="your reason" required></textarea> <br>
            <input type="submit" value="blacklist">
          </form>
          
        </div>
      </div>


        <h1 id="skin-name"><%= skinName %></h1>
        <hr>
        <figure>
          <img id="skin-image" class="<%= rarity %>" src="<%= skinImage %>" alt="">
        </figure> 
        <h2 id="rarityH2">Rarity</h2>
        <p id="rarityP"><%= rarity %></p>
        <h2>Introduction</h2>
        <p><%= introduction %></p>
        <h2>Backstory</h2>
        <p id="skin-backstory" style="text-align: right;"><%= skinBackstory %></p>
     
        <div class="skinButtons">
          
            <button id="knopAvatar" class="btn ster"><a href="/skin/fav/<%=skinName%>"><%=favStatus%> favorite</a> 
            
              <% if (favStatus == "Add to") { %>
                <i class="bi bi-star buttonFavoriet"></i>
             <% }  else { %>
              <i class="bi bi-star-fill buttonFavoriet"></i>
            
            <% } %>
            
            </button>
            
           <button id="knopAvatar" class="btn blacklist"><a href="#">Blacklist</a> </button>
            
          
      <button id="knopAvatar" class="btn pfp"><a href="/skin/pfp/<%=skinName%>">Add as pfp</a></button>
      
            
    
        </div>
    </main>
 
    <footer>
        <p> 
            <a href="https://www.facebook.com/"><span>facebook <i class="fa-brands fa-square-facebook"></i></span></a>
            <a href="https://twitter.com/"><span>twitter <i class="fa-brands fa-twitter"></i></span></a>
            <a href="https://www.instagram.com/"><span>instagram <i class="fa-brands fa-instagram"></i> </span></a>
        </p>
       <p>  &copy; Terry Boateng | Bilal Zaroili | Abdimahad Gass | Nikola Maksimović | Ilias &nbsp; G_1PRO_D2 &nbsp; All Rights Reseverd</p>
    </footer>

  </body>
</html>